@import "tailwindcss";
/* @import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities); */

:root {
  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1200px;

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-5xl font-bold tablet:text-8xl
  }

  h2 {
    @apply relative text-4xl font-bold tablet:text-6xl
  }

  h2::before {
    content: ' ';
    position: absolute;
    transform: translate(-150%, 25%);
    background-color: theme('color-accent');
    height: 25px;
    width: 25px;
  }

  @media (min-width: 770px) {
    h2::before {
      height: 40px; 
      width: 40px;
    }
  }

  h3 {
    @apply text-2xl font-light
  }

  h4 {
    @apply text-xl font-semibold tablet:text-2xl
  }

  h5 {
    @apply text-sm font-semibold
  }

  /* p {
    @apply mt-5
  } */
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1200px;

  --spacing: 4px;

  --font-display: "Poppins", sans-serif;

  --color-main: rgba(243, 233, 227, 1); /* #F3E9E3 */
  --color-main-light: rgba(248, 249, 249, 1);
  --color-main-verylight: rgba(255, 255, 255, 1);
  --color-main-dark: rgba(228, 213, 200, 1); /* #E4D5C8 */
  --color-accent: rgba(0, 72, 249, 1); /* #0048F9 */

  
  --animate-fade-in-down: fade-in-down 400ms ease-out forwards;
  @keyframes fade-in-down {
    0% { opacity: .7; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

@layer components {

  .bg-x-bicolor {
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 58%, rgba(243, 233, 227, 1) 42%);
    /* background: linear-gradient(to left, theme('color-main-verylight') 58%, theme('color-main') 42%); */
  }

  .button {
    @apply inline-flex items-center justify-center rounded-full text-xl uppercase min-w-35 h-10 tablet:text-sm tablet:min-w-45;
  }

  .button-accent {
    @apply bg-accent border-2 border-accent text-white active:text-black active:bg-main;
    /* @apply bg-accent border-2 border-accent text-black active:bg-main; */
  }

  .button-transparent {
    @apply border-black border active:bg-accent active:border-accent active:text-white
  }

  .card {
    @apply shadow-2xl p-6;
  }

  .title-project::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    transform: translateY(50%);
    background-color: theme('color.accent');
    height: 35px;
    width: 10px;
  }

}
