@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1200px;

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-5xl font-bold tablet:text-8xl
  }

  h3 {
    @apply text-2xl font-normal tablet:text-3xl
  }

  h5 {
    @apply text-sm font-semibold
  }

  p {
    @apply mt-5
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 770px;
  --breakpoint-desktop: 1200px;

  --spacing: 4px;

  --font-display: "Poppins", sans-serif;

  --color-main: rgba(243, 233, 227, 1);
  --color-main-light: rgba(248, 249, 249, 1);
  --color-main-verylight: rgba(255, 255, 255, 1);
  --color-main-dark: rgba(228, 213, 200, 1);
  --color-accent: rgba(0, 72, 249, 1);
}

@layer components {
  .button {
    @apply inline-flex items-center justify-center rounded-full text-xl uppercase min-w-35 h-10 tablet:text-sm tablet:min-w-45;
  }

  .button-accent {
    @apply bg-accent border-2 border-accent text-white active:text-black active:bg-main;
  }

  .button-transparent {
    @apply border-black border active:bg-accent active:border-accent active:text-white
  }

  .bg-x-bicolor {
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 58%, rgba(243, 233, 227, 1) 42%)!important;
  }
}
